/*div {
	position: absolute;
	top: 10px;
	left: 500px;
	width: 500px;
	height: 500px;
	background: black;

}

div#border {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 500px;
	height: 500px;
	background: red;
	border: 1px solid blue;
}*/

h1 {
	font-size: 2em;
	text-align: center;
	font-family: roboto;
	font-weight: 800;
	text-decoration: underline;
	margin: 50px;
	padding: 50px;
}